<% home_page = (controller_name == 'pages' && action_name == 'index') %>
<% sticky_footer = !home_page %>
<% html_class = sticky_footer ? "keep-sticky-footer" : '' %>

<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="lt-ie9 lt-ie8 lt-ie7 <%= html_class %>"><![endif]-->
<!--[if IE 7]><html lang="en" class="lt-ie9 lt-ie8 <%= html_class %>"><![endif]-->
<!--[if IE 8]><html lang="en" class="lt-ie9 <%= html_class %>"><![endif]-->
<!--[if gt IE 8]><!-->
<html data-controller="<%= controller_name %>" data-action="<%= action_name %>" lang="en" class="<%= html_class %>">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <link rel="shortcut icon" href="<%= asset_path("cc-favicon-new.ico") %>" />

    <%= seo_tags %>
    <%= og_image %>

    <%= stylesheet_link_tag    "application" %>


    <%= csrf_meta_tags %>

    <% if content_for?(:head_javascript) %>
        <%= content_for :head_javascript %>
    <% end %>
  </head>

  <body>


    <%= render "menu" %>
    <%= render "top_nav", home_page: home_page  %>


    <% if !sticky_footer %>
        <%= yield %>
    <% else %>
      <div id="wrap">
        <div id="main">
            <%= render_page_banner %>
            <%= render_breadcrumbs %>


            <% if content_for?(:text_page_layout) %>
                <%= content_for :text_page_layout %>
            <% else %>
                <%= yield %>
            <% end %>

            <%= render_page_bottom_banner %>
        </div>
      </div>
    <% end %>

    <% if @footer == false %>
        <%# content_for(:footer)  %>
    <% else %>
        <%= render "footer" %>
    <% end %>

    <%= javascript_include_tag "vendor/modernizr" %>

    <!--And Sidebar Navigation  Main page -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag "ie" %>
    <![endif]-->

    <% if !defined?(::LOCAL_ONLY) || !::LOCAL_ONLY %>
        <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?sensor=false' %>
    <% end %>


    <%= javascript_include_tag "application" %>
    <% if content_for?(:javascript) %>
        <%= content_for :javascript %>
    <% end %>
  </body>
</html>
